<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<header th:replace="fragments/header :: navigation"></header>
<main>
    <div class="container">

        <div class="row">
            <div class="card col-8 mt-4">
                <div class="card-title mt-4"><h3>Ajout d'une moto</h3></div>
                <form method="post" th:object="${motoDto}" th:action="@{/admin/moto/create}">

                    <div class="card-body ">
                        <div class="col-4 mb-4">
                        <label for="marqueMoto" class="form-label"> Marque Moto:</label>
                        <div th:if="${#fields.hasErrors('marqueMoto')}" class="alert alert-danger">
                            <div th:each="err : ${#fields.errors('marqueMoto')}" th:text="${err}"></div>
                        </div>
                        <input type="text" id="marqueMoto" class="form-control" th:field="*{marqueMoto}"/>
                        </div>
                        <div class="col-4 mt-4">
                            <label for="versionMoto" class="form-label">Version:</label>
                            <input type="date" name="versionMoto" id="versionMoto" class="form-control" th:field="*{versionMoto}" placeholder="version moto"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
