<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<header th:replace="fragments/header ::navigation"></header>

<main class="container">
    <h1 class="text-center">Liste Des Motos</h1>

    <a class="btn btn-sm btn-primary mb-2 mt-2" th:href="@{/admin/moto/create}" role="button"><i class="fas fa-add"></i>Ajouter une moto</a>

    <div th:switch="${lesMotos}">
        <h2 th:case="null">Aucune moto!</h2>
        <div th:case="*">
            <table class="table table-hover text-center">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Image</th>
                    <th>Marque</th>
                    <th>Version</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="moto: ${lesMotos}">
                    <td th:text="${moto.idMoto}"></td>
                    <td>
                        <img th:src="@{'/images/motomoto/' + ${moto.imagePath}}" class="img-thumbnail" alt="Moto Image" style="max-width: 100px; max-height: 100px;">
                    </td>
                    <td class="mt-4" th:text="${moto.marqueMoto}"></td>
                    <td class="mt-4" th:text="${moto.versionMoto}"></td>
                    <td>
                        <div class="btn-group mt-4">
                            <a th:href="@{/admin/moto/edit/__${moto.idMoto}__}" class="btn btn-sm btn-warning"><i class="fas fa-edit"></i>Modifier</a>
                            <a th:href="@{/admin/moto/detail/__${moto.idMoto}__}" class="btn btn-sm btn-info"><i class="fas fa-circle-info"></i>Detail</a>
                            <a th:href="@{/admin/moto/delete/__${moto.idMoto}__}" class="btn btn-sm btn-danger"><i class="fas fa-delete"></i>Supprimer</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
