<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Inclure le fragment header-css ici -->
    <th:block th:replace="fragments/header :: header-css" />
</head>

<body>
<div th:replace="fragments/header :: navigation" />
<main class="container-fluid">
    <div class="row">
        <!-- Aside avec le menu de navigation -->
<aside th:fragment="sidebar" class="col-md-3 bg-light">
    <nav class="navbar navbar-expand-md navbar-light flex-md-column">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav flex-md-column">
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/home}" th:classappend="${activeTab=='home'?'active':null}"
                       aria-current="page"><i class="fas fa-home"></i> Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/admin/pilote/listePilotes}"
                       th:classappend="${activeTab=='pilote'?'active':null}"><i
                            class="fas fa-motorcycle-helmet"></i> Pilote</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/admin/listeCircuits}"
                       th:classappend="${activeTab=='circuit'?'active':null}"><i
                            class="fas fa-map-marker"></i> Circuit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/admin/ecurie/listeEcuries}"
                       th:classappend="${activeTab=='ecurie'?'active':null}"><i
                            class="fas fa-people-group"></i> Ecurie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/admin/moto/listeMotos}"
                       th:classappend="${activeTab=='moto'?'active':null}"><i class="fas fa-motorcycle"></i>
                        Moto</a>
                </li>
            </ul>
        </div>
    </nav>
</aside>


<!-- Contenu principal -->
<div class="main-content">
    <h1>Contenu de la page</h1>
    <p>Le contenu de votre page ici...</p>

    <!--
     Formulaire d'ajout de course
    <div class="add-course-form">
        <h2>Ajouter une course</h2>
        <form>
            <div class="form-group">
                <label for="nomCourse">Nom de la course</label>
                <input type="text" class="form-control" id="nomCourse" th:placeholder="Entrez le nom de la course">
            </div>
            <div class="form-group">
                <label for="dateCourse">Date de la course</label>
                <input type="date" class="form-control" id="dateCourse" th:placeholder="Entrez la date de la course">
            </div>
            <div class="form-group">
                <label for="lieuCourse">Lieu de la course</label>
                <input type="text" class="form-control" id="lieuCourse" th:placeholder="Entrez le lieu de la course">
            </div>
            <button type="submit" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Ajouter</button>
        </form>
    </div>
    -->
</div>
<footer th:replace="~{fragments/footer ::footer}">
<script>
    // JavaScript pour afficher le sidebar quand on entre à l'intérieur de la page
    $(document).ready(function() {
        $('.navbar-toggler').on('click', function() {
            $('#sidebar').toggleClass('show');
        });
    });
</script>
</footer>
</body>
</html>
