<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header-css"></head>
<body>

<!--
    Il faut mettre en commentaire le csrf dans le formulaire
    <input
        type="hidden"
        th:name="${_csrf.parameterName}"
        th:value="${_csrf.token}" />
-->

<main class="container mt-4">
    <div class="card">
        <div class="card-body">
            <h3 class="mt-4 text-center text-black">Formulaire d'envoi d'email</h3>

            <form th:action="@{/admin/email/sendEmail}" th:object="${emailDto}" method="post">

                <div th:if="${#fields.hasErrors('recipient')}" class="alert alert-danger">
                    <div th:each="err : ${#fields.errors('recipient')}" th:text="${err}"></div>
                </div>

                <!-- Champ pour le destinataire et le sujet -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="recipient" class="form-label">Destinataire :</label>
                            <input type="email" id="recipient" name="recipient" th:field="*{recipient}" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="subject" class="form-label">Sujet :</label>
                            <input type="text" id="subject" class="form-control" name="subject" th:field="*{subject}" required>
                        </div>
                    </div>
                </div>

                <!-- Champ pour le contenu d'email -->
                <div class="form-group mt-4 mb-4">
                    <label for="content">Contenu :</label>
                    <textarea id="content" name="content" class="form-control" th:field="*{content}" rows="4" required></textarea>
                </div>

                <!-- Bouton d'envoi -->
                <button type="submit" class="btn btn-primary">Envoyer</button>
            </form>
        </div>
    </div>
</main>

</body>
</html>
