<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header ::header-css"/>
</head>
<body>
<header th:replace="~{fragments/header :: navigation}"></header>
<main class="container">
    <div class="row">
        <div class="card mt-4 col-md-8">
            <div class="card-header"> <h3>Détails du circuit</h3></div>
                <div class="card-body">
                    <p class="card-text">Nom du circuit : <span th:text="${circuit.nomCircuit}"></span></p>
                    <p class="card-text">Adresse du circuit : <span th:text="${circuit.adresseCircuit}"></span></p>
                    <p class="card-text">Longueur du circuit : <span th:text="${circuit.longueur}"></span> KM</p>
                    <!-- Ajouter d'autres détails du circuit ici si nécessaire -->
                </div>
        </div>
    </div>
    <a href="/admin/listeCircuits" class="mt-3 btn btn-secondary"><i class="fas fa-arrow-left"></i> Retour</a>

</main>

<footer th:replace="~{fragments/footer}">
</footer>
</body>

</html>
