<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/header :: header-css}" />
</head>
<body>

<div th:replace="~{fragments/header :: navigation}"></div>
<div class="container">
    <div class="card mt-4">
        <div class="card-header text-center">
            <h2>Ajouter Circuit</h2>
        </div>
        <div class="card-body">
            <form method="post" th:object="${circuitDto}" th:action="@{/admin/circuit/create}">
                <div class="row mb-3">
                    <div class="col">
                        <label for="nomCircuit" class="form-label">Nom du Circuit:</label>
                        <div th:if="${#fields.hasErrors('nomCircuit')}" class="alert alert-danger">
                            <div th:each="err : ${#fields.errors('nomCircuit')}" th:text="${err}"></div>
                        </div>
                        <input type="text" id="nomCircuit" name="nomCircuit" th:field="*{nomCircuit}" class="form-control" />
                    </div>

                    <div class="col">
                        <label for="adresseCircuit" class="form-label">Adresse du Circuit:</label>
                        <input type="text" id="adresseCircuit" name="adresseCircuit" th:field="*{adresseCircuit}" class="form-control" />
                    </div>
                </div>

                <div class="mb-3">
                    <label for="longueur" class="form-label">Longueur du Circuit:</label>
                    <input type="number" id="longueur" name="longueur" th:field="*{longueur}" class="form-control" />
                </div>

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Ajouter</button>
                </div>
            </form>
            <a href="/admin/listeCircuits" class="mt-3 btn btn-secondary"><i class="fas fa-arrow-left"></i> Retour</a>
        </div>
    </div>
</div>
<div th:replace="~{fragments/footer.html :: footer}"/>
</body>
</html>
