<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/header :: header-css}"/>
</head>
<body>
<header>
    <div th:replace="~{fragments/header :: navigation}"></div>
</header>
<!--Navbar-->

<div class="container mt-4">

    <h1>Liste des circuits</h1>
    <div class="row mb-3">
        <div class="col-md-6">
            <a th:href="@{/admin/circuit/create}" class="btn btn-lg btn-primary" role="button"><i class="fas fa-add"></i> Ajouter un circuit</a>
        </div>
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" id="searchCircuit" class="form-control" placeholder="Rechercher un circuit">
                <label for="searchCircuit" class="form-label"></label>
                <button type="submit" class="btn btn-secondary"><i class="fas fa-search"></i>Rechercher</button>
            </div>
        </div>
    </div>
       <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nom circuit</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="circuit : ${lesCircuits}">
            <td th:text="${circuit.idCircuit}"></td>
            <td th:text="${circuit.nomCircuit}"></td>
            <!--Ajout des boutons avec icônes-->
            <td>
                <a th:href="@{/admin/circuit/detail/__${circuit.idCircuit}__}" class="btn btn-primary btn-sm"><i class="fas fa-info-circle"></i> Détails</a>
                <a th:href="@{/admin/circuit/edit/__${circuit.idCircuit}__}" class="btn btn-secondary btn-sm"><i class="fas fa-edit"></i> Modifier</a>
                <a th:href="@{/admin/circuit/delete/__${circuit.idCircuit}__}" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i> Supprimer</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Lien vers les scripts Bootstrap (jQuery requis) via WebJars -->
<div th:replace="~{fragments/footer}"></div>
</body>
</html>
