<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/header :: header-css}"/>
</head>
<body>
<header>
    <div th:replace="~{fragments/header :: navigation}"></div>
</header>
<!--Navbar-->

<div class="container mt-4">

    <h1>Liste des circuits</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom du circuit</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="circuit : ${lesCircuits}">
            <td th:text="${circuit.idCircuit}"></td>
            <td th:text="${circuit.nomCircuit}"></td>
            <!--Ajout des boutons avec icônes-->
            <td>
                <a th:href="@{/admin/circuit/detail/__${circuit.idCircuit}__}" class="btn btn-primary btn-sm"><i class="fas fa-info-circle"></i> Détails</a>
                <a th:href="@{/admin/circuit/edit/__${circuit.idCircuit}__}" class="btn btn-secondary btn-sm"><i class="fas fa-edit"></i> Modifier</a>
                <a th:href="@{/admin/circuit/delete/__${circuit.idCircuit}__}" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i> Supprimer</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Lien vers les scripts Bootstrap (jQuery requis) via WebJars -->
<div th:replace="~{fragments/footer}"></div>
</body>
</html>
