<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:replace="fragments/header :: header-css" />
</head>

<body>

<!-- Inclusion de la navigation qui se trouve dans le fichier header sous le sous frament navigation -->
 <header th:replace="~{fragments/header :: navigation(activeTab='home') }"></header>
<div th:replace="~{fragments/sideBar :: sidebar}"></div>

<!-- Le contenu spécifique de la page ici -->
<div class="container">
    <div class="row mb-4">
        <div class="col">
            <h1>Bienvenue sur la page d'accueil</h1>
            <p>Ceci est le contenu spécifique de la page d'accueil.</p>
        </div>
    </div>
</div>

<!-- inclure le footer ici -->

<div th:replace="~{fragments/footer}">
</div>
</body>
</html>
