<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/header:: header-css" />
</head>
<body>
<header>
  <div th:replace="fragments/header :: navigation"></div>
</header>
<main>
<div class="container">
  <h2 class="text-center mt-4 mb-4">Demande de réinitialisation de mot de passe confirmée</h2>
  <p class="text-white">Un e-mail a été envoyé avec des instructions pour réinitialiser votre mot de passe.</p>
</div>
</main>
<footer>
  <div th:replace="fragments/footer :: footer"/>
</footer>
</body>
</html>
