<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="fragments/header ::header-css"/>
</head>
<body>
<div class="container d-flex justify-content-center align-items-center">
  <div>
    <h2 class="text-center text-danger mb-4 mt-4">Erreur</h2>
    <p class="text-white text-center">Une erreur est survenue.</p>
    <figure class="text-center">
      <img th:src="@{/images/imgFont/erreur.jpg} " alt="image d'erreur" class="w-25 h-25">
    </figure>
  </div>
</div>
</body>
</html>
