<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<header>
    <div th:replace="fragments/header :: navigation"></div>
</header>
<main>
    <div class="container">
        <div class="card text-center mt-5">
            <div class="card-body">
                <h2 class="card-title">Réinitialisation de mot de passe réussie</h2>
                <div class="alert alert-success">
                    <p class="card-text">Votre mot de passe a été réinitialisé avec succès.</p>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <div th:replace="fragments/footer :: footer"></div>
</footer>
</body>
</html>
