<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<header th:replace="fragments/header :: navigation"></header>
<main class="container">
    <div class="row justify-content-center mt-4">
        <div class="card col-md-8">
            <div class="card-header mb-3"><h3>Modifier un pilote</h3></div>
            <div class="card-body">
                <form method="post" th:object="${piloteDto}" th:action="@{/admin/pilote/edit}">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="idPilote" class="form-label">ID</label>
                                <input type="number" class="form-control" id="idPilote" readonly name="idPilote" th:field="*{idPilote}">
                            </div>
                            <div class="mb-3">
                                <label for="nomPilote" class="form-label">Nom :</label>
                                <div th:if="${#fields.hasErrors('nomPilote')}" class="alert alert-danger">
                                    <div th:each="err : ${#fields.errors('nomPilote')}" th:text="${err}"></div>
                                </div>
                                <input type="text" class="form-control" id="nomPilote" name="nomPilote" th:field="*{nomPilote}" placeholder="Nom du pilote" aria-describedby="NomPilote">
                            </div>
                            <div class="mb-3">
                                <label for="prenomPilote" class="form-label">Prénom :</label>
                                <div th:if="${#fields.hasErrors('prenomPilote')}" class="alert alert-danger">
                                    <div th:each="err : ${#fields.errors('prenomPilote')}" th:text="${err}"></div>
                                </div>
                                <input type="text" class="form-control" id="prenomPilote" name="prenomPilote" th:field="*{prenomPilote}" placeholder="Prénom pilote" aria-describedby="PrenomPilote">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="numeroPilote" class="form-label">Numéro :</label>
                                <div th:if="${#fields.hasErrors('numeroPilote')}" class="alert alert-danger">
                                    <div th:each="err : ${#fields.errors('numeroPilote')}" th:text="${err}"></div>
                                </div>
                                <input type="number" class="form-control" id="numeroPilote" name="numeroPilote" th:field="*{numeroPilote}" placeholder="Numéro pilote" aria-describedby="NumeroPilote">
                            </div>
                            <div class="mb-3">
                                <label for="dateNaissance" class="form-label">Date de naissance :</label>
                                <div th:if="${#fields.hasErrors('dateNaissance')}" class="alert alert-danger">
                                    <div th:each="err : ${#fields.errors('dateNaissance')}" th:text="${err}"></div>
                                </div>
                                <input type="date" class="form-control" id="dateNaissance" name="dateNaissance" th:field="*{dateNaissance}" placeholder="Date de naissance" aria-describedby="DateNaissance">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="emailPilote" class="form-label"> Email :</label>
                                <input type="email" name="emailPilote" id="emailPilote" th:field="*{emailPilote}" placeholder="email@exemple.com" class="form-control" aria-describedby="Emailpilote">
                            </div>
                            <div class="mb-3">
                                <label for="telPilote" class="form-label"> Tél </label>
                                <input type="tel" id="telPilote" class="form-control" name="telPilote" th:field="*{telPilote}" placeholder="34XXXXXX" aria-describedby="TelPilote">
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="categories" class="form-label"> Listes Catégories </label>
                            <select id="categories" name="categories" class="form-control" multiple aria-label="multipleSelect">
                                <option selected>Selectionnez au moins une categorie</option>
                                <option th:text="${categorie.nomCategorie}" th:value="${categorie.idCategorie}" th:each="categorie:${categories}"></option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="adressePilote" class="form-label"> Adresse :</label>
                                <textarea class="form-control" id="adressePilote" name="adressePilote" placeholder="L'adresse du pilote " aria-describedby="AdressePilote" rows="3" th:field="*{adressePilote}"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary mb-3"><i class="fas fa-save"></i> Enregistrer</button>
                    </div>
                </form>
                <a href="/admin/pilote/listePilotes" class="btn btn-secondary btn-sm mb-3"> <i class="fas fa-cancel"></i> Annuler</a>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
