<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<header th:replace="fragments/header :: navigation"></header>
<main class="container">
    <div class="row justify-content-center mt-4">
        <div class="card col-md-8">
            <div class="card-header mb-3"><h3>Modifier un pilote</h3></div>
            <div class="card-body">
                <form method="post" th:object="${piloteDto}" th:action="@{/admin/pilote/edit}">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="idPilote" class="form-label">ID :</label>
                                <input type="number" class="form-control" id="idPilote" readonly name="idPilote" th:field="*{idPilote}">
                            </div>
                            <div class="mb-3">
                                <label for="nomPilote" class="form-label">Nom :</label>
                                <input type="text" class="form-control" id="nomPilote" name="nomPilote" th:field="*{nomPilote}" placeholder="Nom du pilote" aria-describedby="NomPilote">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="prenomPilote" class="form-label">Prénom :</label>
                                <input type="text" class="form-control" id="prenomPilote" name="prenomPilote" th:field="*{prenomPilote}" placeholder="Prénom pilote" aria-describedby="PrenomPilote">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="numeroPilote" class="form-label">Numéro :</label>
                                <input type="number" class="form-control" id="numeroPilote" name="numeroPilote" th:field="*{numeroPilote}" placeholder="Numéro pilote" aria-describedby="NumeroPilote">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="dateNaissance" class="form-label">Date de naissance :</label>
                                <input type="date" class="form-control" id="dateNaissance" name="dateNaissance" th:field="*{dateNaissance}" placeholder="Date de naissance" aria-describedby="DateNaissance">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="emailPilote" class="form-label">Email :</label>
                            <input type="email" name="emailPilote" id="emailPilote" th:field="*{emailPilote}" placeholder="email@exemple.com" class="form-control" aria-describedby="Emailpilote">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="telPilote" class="form-label">Téléphone :</label>
                            <input type="tel" id="telPilote" class="form-control" name="telPilote" th:field="*{telPilote}" placeholder="34XXXXXX" aria-describedby="TelPilote">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="categories" class="form-label">Liste Catégories :</label>
                            <select id="categories" name="categories" class="form-control" multiple aria-label="multipleSelect">
                                <option selected>Selectionnez au moins une catégorie</option>
                                <option th:text="${categorie.nomCategorie}" th:value="${categorie.idCategorie}" th:each="categorie:${categories}"></option>
                            </select>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="ecurie" class="form-label">Liste Écuries :</label>
                            <select id="ecurie" name="ecurie" class="form-control">
                                <option selected>Selectionnez au moins une écurie</option>
                                <option th:text="${ecurie.nomEcurie}" th:value="${ecurie.idEcurie}" th:each="ecurie:${ecuries}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="adressePilote" class="form-label">Adresse :</label>
                        <textarea class="form-control" id="adressePilote" name="adressePilote" th:field="*{adressePilote}"  placeholder="L'adresse du pilote " aria-describedby="AdressePilote" rows="3"></textarea>
                    </div>

                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Ajouter</button>
                    </div>
                </form>
                <a href="/admin/pilote/listePilotes" class="mt-3 btn btn-secondary"><i class="fas fa-arrow-left"></i> Retour</a>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
