<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/header :: header-css}"/>
</head>
<body>
<header th:replace="~{fragments/header :: navigation}"></header>
<h1>Listes de tous les pilotes</h1>
<div class="container">

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Nom </th>
        <th>Prénom</th>
        <th>Numéro</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pilote : ${lesPilotes}">
        <td th:text="${pilote.idPilote}"></td>
        <td th:text="${pilote.nomPilote}"></td>
        <td th:text="${pilote.prenomPilote}"></td>
        <td th:text="${pilote.numeroPilote}"></td>

        <!-- Ajout des liens et des icones Bootstrap-->
        <td>
            <a th:href="@{/admin/pilote/detail/__${pilote.idPilote}__}" class="btn btn-primary btn-sm"><i class="fas fa-info-circle"></i>Details</a>
            <a th:href="@{/admin/pilote/edit/__${pilote.idPilote}__}"  class="btn btn-secondary btn-sm"><i class="fas fa-edit"></i>Modifier</a>
            <a th:href="@{/admin/pilote/Supprimer/__${pilote.idPilote}__}" class="btn btn-danger btn-sm"><i class="fas fa-delete-left

"></i>Supprimer</a>

        </td>

    </tr>
    </tbody>
</table>
</div>
<div th:replace="~{fragments/footer :: footer }"></div>
</body>
</html>